{{#each tasks}}
  <div class='bg-secondary text-white p-2 mb-4' data-id='{{this._id}}'>
    <h4>{{this.title}}</h4>
    <hr />
    <p>{{this.description}}</p>

    <button
      type='button'
      class='btn btn-primary me-2 btnUpdate'
      data-bs-toggle='modal'
      data-bs-target='#taskModal'
    >
      <i class='bi bi-pencil-fill'></i>
    </button>

    <a href='/tasks/delete/{{this._id}}' class='btn btn-danger'>
      <i class='bi bi-trash-fill'></i>
    </a>
  </div>

{{else}}

  <p class='text-white text-center'>you haven't tasks</p>

{{/each}}